
html {
    background-color: #6F9400;
}



.linkit {
    background-color: #FFCD00; 
    width: 20%;
    font-family: 'Montserrat';
    font-size: 30px;
    text-decoration-line: none;
    color: #FFFFFF;
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;    
}

#valittu {
    background-color: rgba(235, 235, 190, 0.867);
}

footer {
    
    align-items: center;
    background-color: #FFCD00;
    width: auto;    
}

#etusivu {
    width: auto;
}

#otsikko {
    background-color: #FFCD00;
    color: #f9f9f9;
}



h1 {
    font-family: 'Pacifico';
    font-size: 40px;
    color: #f9f9f9;
    text-align: center;
}

p {
    font-family: 'Montserrat';
    font-size: 20px;
    padding-left: 250px;
    padding-right: 250px;
    color: black;
}

h2 {
    font-family: 'Pacifico';
    font-size: 30px;
    color: #f9f9f9;
    text-align: center;
}
ul {
    font-family: 'Montserrat';
    font-size: 20px;
}