
html {
    background-color: #6F9400;
}

.linkit {
    background-color: #FFCD00;    
}

#valittu {
    background-color: rgba(235, 235, 190, 0.867);
}

footer {
    background-color: #FFCD00;    
}

#etusivu {
    background-image: url(./images/leaves-6640617_640.jpg);
    scale: 50%;
}

#otsikko {
    background-color: #FFCD00;
    color: #f9f9f9;
}



h1 {
    font-family: 'Pacifico';
    font-size: 40px;
    color: #f9f9f9;
    text-align: center;
}

p {
    font-family: 'Montserrat';
    font-size: 20px;
}

h2 {
    font-family: 'Pacifico';
    font-size: 30px;
    color: #f9f9f9;
    text-align: center;
}
ul {
    font-family: 'Montserrat';
    font-size: 20px;
}