
html {
    background-color: #6F9400;
}

#etusivu {
    background-image: url(./images/still-life-2366084_1920.jpg);
}

#otsikko {
    background-color: #FFCD00;
    color: red;
}

#valittu {
    background-color: rgba(77, 77, 0, 0.867);
}