h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:violet;
    background-color: black;
    text-align: left;
}

h2 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:aqua;
    background-color: blue;
    text-align: center ;
}

h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:chartreuse;
    background-color: rgb(135, 141, 222);
    text-align: right;
}

body {
    background-color: rgb(255, 0, 0);
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.blinking-text {
    animation: blink 1s infinite; 
}